body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  max-width: 1000px;
  margin: auto;
  padding: 16px;
  overflow: hidden;
}

html, body {
  background-image: linear-gradient(
    rgb(40, 120, 173),
    rgb(48, 107, 175)
    );
  height: 100%;
}

main {
  border-radius: 50px;
  margin-top: 2%;
  box-shadow: 0px 0px 1px 1px rgb(19, 19, 19);
  background-image: linear-gradient(
    rgb(0, 87, 158),
    rgb(0, 127, 230)
  );
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

footer {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 16px;
}

footer img {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li div {
  display: inline-block;
  padding: 16px;
}

button {
  font-size: 25px;
  color: white;
  padding: 16px;
  min-height: 50px; 
  min-width: 150px;
  background-color: rgb(0, 138, 252);
  border: none;
  box-shadow: 0px 0px 2px 2px rgb(19, 19, 19);
  border-radius: 25px;
  transition: background-color 0.2s;
}

.more-info {
  position: fixed;
  margin-top: 1.5%;
  margin-left: -15%;
  width: fit-content;
}

.more-info button {
  display: block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(12, 146, 255);
}

.my-image {
  display:inline-block;
  text-align: center;
  padding: 50px;
}

.details-container {
  padding: 50px;
}

.about-me {
  font-size: 40px;
  text-align: center;
}

.my-info {
  font-size: 20px;
  text-align: center;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(19, 19, 19);
}

@media screen and (max-width: 1100px) {
  body {
    overflow: scroll;
    height: auto;
  }

  main {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .my-image {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 16px;
  }

  .details-container {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 16px;
  }

  .more-info {
    position: unset;
    margin-left: 0%;
    display: inline-block;
  }

  .more-info button {
    min-width: auto;
    min-height: auto;
    margin: 5px;
    display: inline-block;
  }
}
