body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  max-width: 1000px;
  margin: auto;
  padding: 16px;
  overflow: hidden;
}

html, body {
  background-image: radial-gradient(
    rgb(57, 8, 90),
    rgb(56, 11, 87)
    );
  height: 100%;
}

main {
  border-radius: 50px;
  margin-top: 4%;
  box-shadow: 0px 0px 1px 1px rgb(19, 19, 19);
  background-image: linear-gradient(
    rgb(64, 10, 100),
    rgb(138, 0, 230)
  );
}

h1 {
  display:inline-block;
  margin-top: 1px;
  text-align: center;
}

h2 {
  display: block;
  text-align: center;
  margin-top: 1px;
}

.details-container {
  display: inline-block;
}

.about-me {
  font-size: 30px;
  position: relative;
  left: 60%;
  top: -400px;
  margin-top: 20px;
}

.my-info {
  font-size: 20px;
  position: relative;
  left: 40%;
  top: -400px;
  margin-top: 20px;
  text-align: center;
  padding: 16px;
  width: 50%;
}

footer {
  position: relative;
  top: -150px;
}

footer img {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

li div {
  display: inline-block;
  padding: 16px;
}

button {
  font-size: 25px;
  color: white;
  padding: 16px;
  min-height: 50px; 
  min-width: 150px;
  background-color: rgb(138, 0, 230);
  border: none;
  box-shadow: 0px 0px 2px 2px rgb(19, 19, 19);
  border-radius: 25px;
  transition: background-color 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: rgb(153, 0, 255);
}

.my-image {
  display:inline-block;
  text-align: center;
  padding: 50px;
}

img {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(19, 19, 19);
}

@media screen and (max-width: 1000px) {
  body {
    overflow: visible;
  }

  .main {
    display: flex;
    justify-content: center;
  }

  .flex-profile {
    display: flex;
    justify-content: center;
  }

  .details-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 18%;
    top: 400px;
  }

  .footer-flex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 150px;
  }
}